<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>测试平台-网关能力实例</title>
		{% load staticfiles %} <link href="{% static "css/css.css" %}" type="text/css" rel="stylesheet">
		{% load staticfiles %} <link rel="icon"  href="{% static "images/net.ico" %}"  type="image/x-icon" />

        <script language="JavaScript" type="text/JavaScript">
			function macadd()
			{
				parent.window.location.href='mac_add.jsp';
        	}
		</script>
	</head>
	<body>
		<header>
		<div class="header">
			<div class="he_img">
				{% load staticfiles %} <a href="/main.html" target="_bank"> <img src="{% static  "images/data_bg3.png" %}" > </a>
			</div>
		</div>
		</header>
		<nav>
		<div class="nav">
			<a href="/index.html" class="na-hover">首页</a>
			<a href="/addonu.html">新增测试设备</a>
			<a href="/ceshi.html">平台对接测试</a>
			<a href="/wgnlcs.html">网关能力测试</a>
		</div>
		</nav>
		<article>
		<div class="article">
			<h1 style="color: #35a200; font-size: 20px" align="center">
                请参照如下模板添加测试设备
			</h1>
			<div class="ar-table">
				<form action="/addonudatas/" method="get">
				<table width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="10" colspan="1">
							<div
								style="padding-top: 20px; width: 400px; float: left; padding-bottom: 2px;">
                                <span>设备型号&nbsp;&nbsp;</span>
								<input type="text " name="Mode" id="ModeID" style="width: 210px;" maxlength="12" value="ZXHN F450G" />
							</div>
						</td>
					</tr>
					<tr>
					    <td height="30" colspan="2" >
							<div
								style="padding-top: 2px; width: 400px; float: left; padding-bottom: 2px;">
								<span>物理地址&nbsp;&nbsp;</span>
								<input type="text " name="Mac" id="MacID" style="width: 210px;" maxlength="12" value="112233445566" />
							</div>
						</td>
					 </tr>
					<tr>
					    <td height="30" colspan="2" >
							<div
								style="padding-top: 2px; width: 400px; float: left; padding-bottom: 2px;">
								<span>设备SSID&nbsp;&nbsp;</span>
								<input type="text " name="SSID" id="SSIDID" style="width: 210px;" maxlength="13" value="ChinaNet-0000"  onfocus="javascript:if(this.value=='ChinaNet-0000')this.value='ChinaNet-';"/>
							</div>
						</td>
					 </tr>
					<tr>
					    <td height="30" colspan="2" >
							<div
								style="padding-top: 2px; width: 400px; float: left; padding-bottom: 2px;">
								<span>设备SSID-Pwd</span>
								<input type="text " name="SSID-Pwd" id="SSID-PwdID" style="width: 210px;" maxlength="13" value="12345678"  onfocus="javascript:if(this.value=='12345678')this.value='';"/>
							</div>
						</td>
					 </tr>
					<tr>
					    <td height="30" colspan="2" >
							<div
								style="padding-top: 2px; width: 400px; float: left; padding-bottom: 2px;">
								<span>设备User-Pwd</span>
								<input type="text " name="User-Pwd" id="User-PwdID" style="width: 210px;" maxlength="13" value="12345"  onfocus="javascript:if(this.value=='12345')this.value='';"/>
							</div>
						</td>
					 </tr>
					<tr>
					    <td height="30" colspan="2" >
							<div
								style="padding-top: 2px; width: 400px; float: left; padding-bottom: 2px;">
								<span>设备SN&nbsp;&nbsp;&nbsp;</span>
								<input type="text " name="SN" id="SNID" style="width: 210px;" maxlength="25" value="123456-12345001122334455"  onfocus="javascript:if(this.value=='123456-12345001122334455')this.value='';"/>
							</div>
						</td>
					 </tr>
					<tr>
						<td height="60" colspan="2" align="center" style="padding-top: 2px;">
							<input name="" type="submit" value="增加网关" class="button">
						</td>
					</tr>
                    <tr>
                        <td height="40" colspan="2" align="center" style="padding-top: 2px;">
                            <span  style="font-weight: bold; color: #666">{{ ResponseOfServer }}</span> <br>
                            <span  style="font-weight: bold; color: #666">{{ AddOnuInfodata }}</span>
                        </td>
                    </tr>
				</table>
				</form>
			</div>
		</div>

		</article>
	</body>
</html>
