<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>上海共进智能网关测试平台</title>
		{% load staticfiles %} <link href="{% static "css/css.css"%}" type="text/css" rel="stylesheet">
		{% load staticfiles %} <link rel="icon"  href="{% static "images/net.ico"%}"  type="image/x-icon" />
	</head>
	<body>
		<header>
		<div class="header">
			<div class="he_img">
				{% load staticfiles %} <a href="/test.html" target="_bank"> <img src="{% static "images/data_bg3.png"%}" > </a>
			</div>
		</div>
		</header>
		<nav>
		<div class="nav">
			<a href="/index.html" class="na-hover">首页</a>
			<a href="/addonu.html">新增测试设备</a>
			<a href="/ceshi.html">平台对接测试</a>
			<a href="/wgnlcs.html">网关能力测试</a>
            <a href="/kuaizhao.html">获取服务器信息</a>
		</div>
		</nav>
		<article>
		<div class="article"
			<div class="bg_img">
				{% load staticfiles %} <img src="{% static "images/bg_img.jpg" %}">
			</div>
		</article>	
		<!--<article>
		<div class="article"
			style="padding-top: 10%; padding-bottom: 10%; text-align: center;">
			<h1 style="color: #35a16b; font-size: 36px">
				欢迎参与测试
			</h1>
		</div>
		</article>-->
	</body>
</html>
